<!--
   Page (404) Not Found
-->
<!DOCTYPE html>
   <html lang="en">
   <head>
	<style> 
body{
min-width:600px;
width:auto;
}
</style>
</head>
      <title><%= title %></title>
   </head>
   <body>
      <h1 >404 Not Found</h1>
      <a  href="/login">Login</a>
       <!--
	<img id="image1" src="/public/images/WDF_1255100.gif" style="width:304px;height:228px;"></img></br></br>
<iframe id="if1"width="560" height="315" src="https://www.youtube.com/embed/V-COB2hZqUg" frameborder="0" allowfullscreen></iframe><br>
<iframe id="if2" width="560" height="315" src="https://www.youtube.com/embed/dQAbfNzy_UA" frameborder="0" allowfullscreen></iframe>
<h1 id="h11" >Till the world ends!</h1>
<a id ="aa" href="/loveIS">Love Is-></a>
-->
   </body>
</html>
