


<!DOCTYPE html>
<html>
	<head>
       <title> <%= title%> </title>

        
        <style>



       #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

	#section {
		    width:800px;
		    float:left;
		    padding:10px;	 	 
		}

		#nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:800px;
		    width:150px;
		    float:left;
		    padding:2px;	      
		}

		#footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		   padding:5px;	 	 
		}
        
        
</style>

    </head>
    <body>

                <div id = "header">
                <h1><%=title%></h1>
                </div>


                <div  id="nav">

             <button onclick="{location.href='/signout'}">signout</button>
             </div>


                <div id="section">
            <form method="post" name="form1" action="/addNewJobAdmin">
           <p> Welcome <strong><%= user.username %></strong></p>
                <p><font face="verdana" color="green">PLEASE CHOOSE THE TYPE OF THE COMPANY<br></font></p>
                <input type="radio" name="Company" value="1" checked> Existing<br>

                <input type="radio" name="Company" value="2"> New
              <br><input type="submit" value="OK" >

            </form>
            <br>

                </div>
             
    <div id="footer">
	@ Hunsicker DataBase Select Result
	</div>

    </body>

    
    



</html>
