<!DOCTYPE html>
<html>
	<head>
       <title> <%= title%> </title>

        
        <style>



       #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

	#section {
		    width:800px;
		    float:left;
		    padding:10px;	 	 
		}

		#nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:800px;
		    width:150px;
		    float:left;
		    padding:2px;	      
		}

		#footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		   padding:5px;	 	 
		}
        
        
</style>

    </head>
    <body>

                <div id = "header">
                <h1><%=title%></h1>
                </div>


                <div  id="nav">
            <button onclick="{location.href='http://localhost:9000/inputSelection'}">back</button>
             <button onclick="{location.href='http://localhost:9000/signout'}">signout</button>

             </div>


                <div id="section">
                    <p><span style="color:blue">Input the JobID to do the Job.</span></p>
                    <p>
                    <% if(typeof(errorMessage) !== 'undefined') {%>
                    <span style="color:red"><%= errorMessage %></span>
                    <% } %>
                    </p>
            <form method = 'post' name = "form_Select_By_ID" id = "form2" action ="/SelectByID" >
                
                <input type ="text" name = "JobID">
                <input type = "submit" value = "SelectByID">
                </form>
           
                              

                </div>
             
    <div id="footer">
	@ Hunsicker DataBase Select By ID
	</div>

    </body>

    
    



</html>


