<!DOCTYPE html>
<html>
	<head>
    

       <title> <%= title%> </title>

        
        <style>

body{
min-width:1500px;
width:auto;
}


       #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

	#section {
		    width:auto;
		    float:left;
		    padding:10px;	 	 
		}

		#nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:800px;
		    width:150px;
		    float:left;
		    padding:2px;	      
		}

		#footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		   padding:5px;	 	 
		}
        
        
</style>

    </head>
    <body>

                <div id = "header">
                <h1><%=title%></h1>
                </div>


                <div  id="nav">
                </div>

                <div id="section">
      <h2>Register Form</h2>
      <form method="post" action="/signup">
         <% if(typeof(errorMessage) !== 'undefined') {%>
         <span style = "color:red"><%= errorMessage %></span>
         <% } %>
         <p>
            <label for="username">Account Name</label><br>
            <input type="text" name="username" id="username"
               placeholder="username" required="true"/>
         </p>
         <p>
            <label for="password">Account Password</label><br>
            <input type="password" name="password" id="password"
               placeholder="password" required="true"/>
         </p>
         <p>
          <label for="email">Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br>
            <input type="text" name="email" id="email"
               placeholder="email" />
         </p>
         <p>
            <input type="submit" name="signup" id="signup" value="register"/>
            <a href="/login" title="sign in">sign in</a>
         </p>

                </form>
       <p>
           <% if(typeof(prompt) !== 'undefined') {%>
         <span style="color:red"><%= prompt %></span>
         <% } %>
         </p>
</div>

  <div id="footer">
	@ Hunsicker DataBase Select Result
	</div>

    </body>

    
    



</html>
